
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

/* 
.container {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
} */


.image {
    background-image: url(images/bg-main-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;

    position: relative;

    padding: 1.5em;
}


.card {
    background-size: contain;
    background-repeat: no-repeat;

    width: 270px;
    height: 150px;
    position: absolute;
}

.image_card-back {
    background-image: url(images/bg-card-back.png);
    right: 1.5em;
   
}

.card-text-back {
    position: absolute;
    right: 3.5em;
    top: 7em;

    color: white;
    font-size: 0.60rem;
}


.image_card-front {
    background-image: url(images/bg-card-front.png);
    left: 1.5em;
    bottom: -3em;
    padding: 1em;
    
    display: flex;
    flex-direction: column;
}


.image_card-front img {
    width: 25%;
}


.card-front_middle {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    
    margin-top: 2.25em;
    letter-spacing: 2px;
    
}

.card-front_bottom {
    display: flex;
    justify-content: space-between;

    font-size: 0.60rem;
    text-transform: uppercase;
    letter-spacing: 1px;

    margin-top: 1em;
  
}

@media (min-width: 700px) {
    .container {
        display: flex;
        min-width: 50%;

        min-height: 100vh;
    }

    .image {
        background-image: url(images/bg-main-desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        width: 35%;

        position: relative;

        padding-top: 8em;
        padding-bottom: 8em;
    
    }

    .card {
        background-size: contain;
        background-repeat: no-repeat;
    
        width: 380px;
        height: 250px;
        position: absolute;
    }

    .image_card-front {
        background-image: url(images/bg-card-front.png);
        left: 15em;
        bottom: 0;
        padding: 1.5em;
        top: 9em;
        
        
        display: flex;
        flex-direction: column;
        position: absolute;
    }



    .image_card-back {
        background-image: url(images/bg-card-back.png);
        right: -11em;

        top: 23em;

        position: absolute;
       
    }

    .card-front_middle {
        display: flex;
        justify-content: left;
        flex-direction: column;
        font-size: 1.5rem;

        text-align: justify;
    
        margin-top: 2em;
        letter-spacing: 2px;
       
    }

    .card-front_middle p {
        letter-spacing: 0.217rem;
    }

    .card-text-back {
        position: absolute;
        right: 4.5em;
        top: 10em;
    
        color: white;
        font-size: 0.60rem;
    }

    .card-front_bottom {
        display: flex;
        justify-content: space-between;
    
        font-size: 0.60rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    
        margin-top: 1.5em;
      
    }

}


.card p {
    color: white;
}

/* Text Section | Form Section */

form {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1.5em;

}

.text {
    padding: 1.5em;
    margin-top: 4.5em;
    margin-bottom: 3em;
}


@media (min-width: 700px) {
    .text {
        max-width: 375px;
        align-self: center;
    
        margin-left: 18em;
    }
}

.form-name,
.form-number,
.form-details {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
    font-size: 0.9rem;
}



.form-name input,
.form-number input,
.card-details {
    border: 1.5px solid hsla(278, 68%, 11%, 0.319);
    padding: 0.65em;
    border-radius: 6px;

    font-size: 1rem;
}


.form-details_text {
    display: flex;
}

.form-details_text .date {
    width: 55%;
}

.form-details_text .cvc {
    width: 50%;
}


.form-details_placeholder {
    display: flex;
    /* flex-basis: 100%; */

   
}

.form-details_placeholder .column {
    display: flex;
    flex-direction: column;

    /* background-color: gray; */
}


.form-details_placeholder .columnOne {
    width: 25%;
}

.form-details_placeholder .columnOne input {
    width: 90%;
}

.form-details_placeholder .columnTwo {
    width: 25%;
}

.form-details_placeholder .columnTwo input {
    width: 90%;
}

.form-details_placeholder .columnThree {
    width: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* Form Submit */
.form-submit input {
    width: 100%;
    background-color: hsl(278, 68%, 11%);

    color: hsl(270, 3%, 87%);

    padding: 0.75em;
    border-radius: 7px;

    font-size: 1rem;
    font-family: 'Space Grotesk', sans-serif;
}

.error {
    color: hsl(0, 100%, 66%);
    font-size: 0.75rem;
}


/* Completed State | Thank You Section */

.incomplete {
    display: show;
}

.complete {
    display: none;
    flex-direction: column;
    align-items: center;


    /* border: 1px solid black; */
}

.complete h1 {
    text-transform: uppercase;
    letter-spacing: 2px;

    margin-top: 1.15em;
}

.complete p{
    font-weight: 500;
    color: hsl(0, 0%, 75%);
    font-size: 1.10rem;

    margin-top: 1em;
}

.complete button {
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);

    padding: 0.75em;
    border-radius: 7px;

    font-size: 1rem;
    font-family: 'Space Grotesk', sans-serif;

    margin-top: 3em;
}